<div class="full-wrap welcome-screen">
	<div class="grid-full">
		<div class="grid-container column">
			<a href="{{ path }}" class="logo">
				<img src="{{ "img/echo_logo.svg"|url }}" alt="echo" />
			</a>
			<div class="welcome">
				<div class="welcome-title">Welcome to the Echo wiki!</div>
				<div class="welcome-text">
					Echo is a generalized smart contract protocol that enables efficient decentralized computing.
					It provides the infrastructure and developer tooling necessary to build and deploy scalable,
					high-performing decentralized applications.
				</div>
				<a href="{{ base_url }}/get-started/installation/" class="blue-btn big">Get started</a>
			</div>
		</div>
	</div>
	<div class="grid-container">
		<div class="grid-left">
			{% include "download.html" %}
		</div>
		<div class="grid-right">
			{% include "nav.html" %}
		</div>
	</div>
</div>
