.doc {
	align-items: center;
	cursor: pointer;
	display: flex;
	white-space: nowrap;

	&:hover {
		.doc-title {
			&:before {
				background-color: transparent;
			}
		}
	}

	img {
		width: 2.2rem;
	}

	&-title {
		color: #fff;
		font-size: 1.6rem;
		margin: 0 0.9rem 0 1.6rem;
		position: relative;
		@include hack-bold();

		&:before {
			background-color: #fff;
			bottom: 0;
			content: "";
			height: 0.1rem;
			left: 0;
			position: absolute;
			right: 0;
			transition: background-color $speed;
		}
	}

	&-weigth {
		color: rgba(#fff, 0.5);
	}
}
