.input-wrap {
	width: 100%;

	input {
		border: 2px solid #000;
		letter-spacing: 0.18rem;
		max-width: 50rem;
		padding: 0 2rem;
		width: 100%;
		@include hack-regular();

		&:focus {
			border-color: #0b1bee;
			outline: 0;
		}
	}

	&.action {
		display: flex;
		justify-content: center;

		input {
			border-right: 0;
			height: 54px;
		}
	}
}

@include screen-max(768) {
	.input-wrap {
		padding: 0 3rem;
		width: 100%;

		&.action {
			align-items: center;
			display: flex;
			flex-direction: column;
			justify-content: center;

			input {
				border-right: 2px solid #000;
				margin: 0 auto 2rem;
			}
		}
	}
}
