.sidebar-trigger {
	align-items: center;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	display: none;
	flex-direction: column;
	height: 16px;
	justify-content: space-between;
	margin-bottom: 20px;
	padding: 0;
	position: relative;
	transition: opacity 0.2s;
	width: 24px;

	&:active {
		opacity: 0.5;
		outline: 0;
	}

	&.open {
		.line {
			transition: transform 0.3s;

			&:nth-child(2) {
				background-color: transparent;
				display: none;
			}

			&:nth-child(1),
			&:nth-child(3) {
				bottom: 0;
				left: 0;
				position: absolute;
				right: 0;
				top: 6px;
			}

			&:nth-child(1) {
				transform: rotate(45deg);
			}

			&:nth-child(3) {
				transform: rotate(-45deg);
			}
		}
	}

	.line {
		background-color: #070430;
		height: 2px;
		transition: transform 0.1s;
		width: 24px;
	}
}
@include screen-max(780) {
	.sidebar-trigger {
		display: flex;
	}
}
