html {
	font-family: "Lato", sans-serif;
	font-size: 62.5%;
}

body {
	display: flex;
	flex-direction: column;
	font-size: 1.4rem;
	min-height: 100vh;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
}

ul,
ol {
	list-style-type: none;
	padding: 0;
}

::selection {
	background: #0000fb !important;
	color: #ffffff !important;
}
