@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/lato/regular/Lato.eot");
	src: url("../fonts/lato/regular/Lato.eot?#iefix") format("embedded-opentype"),
	url("../fonts/lato/regular/Lato.svg#Lato") format("svg"),
	url("../fonts/lato/regular/Lato.ttf") format("truetype"),
	url("../fonts/lato/regular/Lato.woff") format("woff"),
	url("../fonts/lato/regular/Lato.woff2") format("woff2");
}

@mixin lato-regular {
	font: {
		family: "Lato";
		style: normal;
		weight: 400;
	}
}

@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/lato/bold/Lato.eot");
	src: url("../fonts/lato/bold/Lato.eot?#iefix") format("embedded-opentype"),
	url("../fonts/lato/bold/Lato.svg#Lato") format("svg"),
	url("../fonts/lato/bold/Lato.ttf") format("truetype"),
	url("../fonts/lato/bold/Lato.woff") format("woff"),
	url("../fonts/lato/bold/Lato.woff2") format("woff2");
}

@mixin lato-bold {
	font: {
		family: "Lato";
		style: normal;
		weight: 700;
	}
}

@font-face {
	font-family: "Hack-Bold";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/hack/Hack-Bold.eot");
	src: url("../fonts/hack/Hack-Bold.woff2") format("woff2"),
	url("../fonts/hack/Hack-Bold.woff") format("woff"),
	url("../fonts/hack/Hack-Bold.otf") format("opentype"),
	url("../fonts/hack/Hack/Hack-Bold.ttf") format("truetype"),
	url("../fonts/hack/Hack-Bold.svg#Hack-Bold") format("svg");
}

@mixin hack-bold {
	font: {
		family: "Hack-Bold";
		style: normal;
		weight: 700;
	}
}

@font-face {
	font-family: "Hack-Regular";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/hack/Hack-Regular.eot");
	src: url("../fonts/hack/Hack-Regular.woff2") format("woff2"),
	url("../fonts/hack/Hack-Regular.woff") format("woff"),
	url("../fonts/hack/Hack-Regular.otf") format("opentype"),
	url("../fonts/hack/Hack/Hack-Regular.ttf") format("truetype"),
	url("../fonts/hack/Hack-Bold.svg#Hack-Regular") format("svg");
}

@mixin hack-regular {
	font: {
		family: "Hack-Regular";
		style: normal;
		weight: 400;
	}
}
