.sidebar {
	margin-bottom: 20px;

	> .element {
		display: flex;
		flex-direction: column;

		&:not(:last-child) {
			margin-bottom: 34px;
		}

		@include inter-ui-bold();

		> .title {
			color: rgba(#070430, 0.5);
			font-size: 14px;
			letter-spacing: 0.025em;
			margin: 0 0 18px;
			position: relative;
			text-transform: uppercase;
		}

		> .item {
			color: #051eeb;
			display: inline-flex;
			font-size: 14px;
			letter-spacing: 0.025em;
			margin: 0 auto 7px 0;
			padding: 0 1px;
			transition: color $speed;
			white-space: nowrap;

			&:hover,
			&:focus {
				color: rgba(#051eeb, 0.7);
			}

			&:active {
				color: rgba(#051eeb, 0.4);
			}

			&.active {
				color: #aa0d92;

				&:hover,
				&:focus {
					color: rgba(#aa0d92, 0.7);
				}

				&:active {
					color: rgba(#aa0d92, 0.4);
				}
			}

			&.accordion {
				display: block;
			}
		}
	}

	&-wrap {
		display: flex;
		flex-direction: column;
		position: sticky;
		top: 8rem;
	}
}
@include screen-min(780) {
	.sidebar {
		display: block !important;
	}
}
@include screen-max(780) {
	.sidebar {
		display: none;
	}
}
@include screen-max(768) {
	.sidebar {
		padding-left: 25px;
	}
}

@include screen-max-h(900) {
	.sidebar > .element > .title {
		margin: 0 0 10px;
	}

	.sidebar > .element > .item {
		margin: 0 auto 4px 0;
	}

	.sidebar > .element:not(:last-child) {
		margin-bottom: 24px;
	}

	.sidebar-wrap {
		top: 2rem;
	}
}
